<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/styles.css">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <title>Rocketseat School - Cursos</title>
</head>

<body>
    <header>
        <nav>
            <a href="/views/index.html">Sobre</a>
            <a href="https://discordapp.com/invite/">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5581997186058">Telefone</a>
            <a href="/views/conteudo.html">Conteudos</a>
        </nav>
    </header>

    <div id="wrapper">
        <h1>Cursos</h1>
    </div>

    <section class="cards">

        <div class="card">
            <a href="http://rocketseat.com.br">
                <div class="card-container">
                    <img src="/assets/starter.svg" alt="starter">
                </div>
                <div class="card-content">
                    <p>Qtd de modulos</p>
                    <p>10</p>
                </div>
                <div class="card-info">
                    <p>Preço</p>
                    <p>Free</p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="http://www.google.com">
                <div class="card-container">
                    <img src="/assets/launchbase.svg" alt="launchbase">
                </div>
                <div class="card-content">
                    <p>Qtd de modulos:</p>
                    <p>30</p>
                </div>
                <div class="card-info">
                    <p>Preço</p>
                    <p>Free</p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="http://rotamidia.com.br">
                <div class="card-container">
                    <img src="/assets/gostack.svg" alt="gostack">
                </div>
                <div class="card-content">
                    <p>Qtd de modulos:</p>
                    <p>20</p>
                </div>
                <div class="card-info">
                    <p>Preço</p>
                    <p>Free</p>
                </div>
            </a>
        </div>

    </section>

    <footer>
        <span>
            <a href="http://github.com.br">Github</a>
            <a href="http://linkedin.com.br">linkedin</a>
            <a href="http://instagram.com.br">Instagram</a>
        </span>
    </footer>

</body>

</html>